/* 1. HEADER AND NAV */

    #mainheader {
        background-color: #40e0d0;
    }

    #mainheader input {
        float: right;
        margin-top: 30px;
        margin-right: 30px;
    }

    #mainheader img {
        margin-left: 20px;
        transition: all 0.5s ease-in-out;
    }

    #mainheader img:hover {
        transform: rotateX(180deg);
    }

    header input {
        width: 180px;
        transition: all 0.6s ease-in-out;
    }

    header input:focus {
        width: 270px;
        background-color: greenyellow;
    }
    
    nav {
        font-family: Tahoma, Verdana, sans-serif;
        margin: auto;
        list-style-type: none;
        border: 2px solid black;
        width: 99.5%;
        background-color: greenyellow;
        overflow: auto;
        text-align: center;
    }

    nav div {
        color: black;
        background-color: greenyellow;
        padding: 5px;
        margin: auto;
        display: inline-block;
        text-align: center;
        width: 200px;
        transition: all 0.6s ease-in-out;
    }

    nav a {
        text-decoration: none;
        color: black;
    }

    nav div:hover {
        background: black;
        width: 240px;
    }

    nav div:hover a {
        color: greenyellow;
    }

    #headerbanner {
        display: block;
        margin: auto;
        width: 100%;
    }

    /* 2. BODY */

    main:not(article:last-of-type) {
        line-height: 1.5;
    }

    main article:last-of-type {
        overflow-wrap: break-word;
    }

    main section:first-of-type {
        background-color: greenyellow;
        text-align: center;
        font-family:  'Century Gothic';
        border: 2px solid black;
    }

    main section:not(:first-of-type) {
        width: 80%;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        overflow: auto;
    }

    main a {
        text-decoration: none;
        color: greenyellow;
    }

    main a:hover {
        background-color: greenyellow;
        color: black;
    }

    td, th {
        border: 2px solid black;
        text-align: center;
        padding: 6px;
    }

    .floatleft_el {
        float: left;
        margin-right: 25px;
    }

    .floatright_el {
        float: right;
        margin-right: 125px;
    }

    table {
        margin: auto;
        text-align: center;
    }

    #centerimagecontainer {
        margin: auto;
        text-align: center;
    }

    #revertti {
        font-weight: bold;
        text-align: center;
    }

    /* 3. FOOTER */

    footer {
        background-color: turquoise;
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    footer #sharebuttons div {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

    #sharebuttons {
        float: left;
        display: inline;
        margin-left: 40px;
        margin-top: 15px;
    }

    .facebook {
        background: url('imgsprites_logos.png') no-repeat -98px -23px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 52px;
        transition: all 0.1s ease-in-out;
    }

    .instagram {
	    background: url('imgsprites_logos.png') no-repeat -168px -21px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 53px;
        transition: all 0.1s ease-in-out;
    }

    .twitter {
	    background: url('imgsprites_logos.png') no-repeat -238px -21px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 53px;
        transition: all 0.1s ease-in-out;
    }

    .reddit {
        background: url('imgsprites_logos.png') no-repeat -520px -21px;
	    background-size: 600px 300px;
	    width: 51px;
	    height: 52px;
        transition: all 0.1s ease-in-out;
    }

    .facebook:hover {
        background: url('imgsprites_logos.png') no-repeat -98px -84px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .instagram:hover {
	    background: url('imgsprites_logos.png') no-repeat -168px -85px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .twitter:hover {
	    background: url('imgsprites_logos.png') no-repeat -237px -84px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .reddit:hover {
        background: url('imgsprites_logos.png') no-repeat -519px -84px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 53px;
        transform: scale(1.5, 1.5);
    }

    #contactinfo {
        float: right;
        margin-right: 70px;
    }

