/* 1. HEADER AND NAV */

    /* sets background color to a part of the header */
    #mainheader {
        background-color: #40e0d0;
    }

	/* places input element to the right, sets top and bottom margin */
    #mainheader input {
        float: right;
        margin-top: 30px;
        margin-right: 30px;
    }

	/* gives left margin to logo, and a transition */
    #mainheader img {
        margin-left: 20px;
        transition: all 0.5s ease-in-out;
    }

	/* sets the type of transition for logo */
    #mainheader img:hover {
        transform: rotateX(180deg);
    }

	/* sets initial width for input when not in focus */
    header input {
        width: 180px;
        transition: all 0.6s ease-in-out;
    }

	/* after input is in focus */
    header input:focus {
        width: 270px;
        background-color: greenyellow;
    }

	/* gives the nav a font, centers it, removes the dot in list elements, gives border, width, background color, prevents overflow, and centers its text */    
    nav {
        font-family: Tahoma, Verdana, sans-serif;
        margin: auto;
        list-style-type: none;
        border: 2px solid black;
        width: 99.5%;
        background-color: greenyellow;
        overflow: auto;
        text-align: center;
    }

	/* sets the text color in div to black, gives background color, padding, centers it, is displayes in the same line as other divs in nav, text is centered, sets width and transition settings */
    nav div {
        color: black;
        background-color: greenyellow;
        padding: 5px;
        margin: auto;
        display: inline-block;
        text-align: center;
        width: 200px;
        transition: all 0.6s ease-in-out;
    }

	/* nav a before its div is hovered */
    nav a {
        text-decoration: none;
        color: black;
    }

	/* after div is hovered */
    nav div:hover {
        background: black;
        width: 240px;
    }

	/* text color changes after its div is hovered */
    nav div:hover a {
        color: greenyellow;
    }

	/* no other element can be in the same line as this one. centered, and full width */
    #headerbanner {
        display: block;
        margin: auto;
        width: 100%;
    }

    /* 2. BODY */

	/* articles that arent the last of kind have a certain line height */
    main:not(article:last-of-type) {
        line-height: 1.5;
    }

	/* articles that are the last of kind in a parent have overflow-wrap to prevent overflow */
    main article:last-of-type {
        overflow-wrap: break-word;
    }

	/* the first section has these style rules */
    main section:first-of-type {
        background-color: greenyellow;
        text-align: center;
        font-family:  'Century Gothic';
        border: 2px solid black;
    }

	/* all other sections have THESE style rules */
    main section:not(:first-of-type) {
        width: 80%;
        margin: auto;
        font-family: Arial, Helvetica, sans-serif;
        overflow: auto;
    }

	/* all a in main when not hovered */
    main a {
        text-decoration: none;
        color: greenyellow;
    }

	/* all a in main when hovered */
    main a:hover {
        background-color: greenyellow;
        color: black;
    }

	/* sets style rules for table elements */
    td, th {
        border: 2px solid black;
        text-align: center;
        padding: 6px;
    }

	/* all element that have to float left */
    .floatleft_el {
        float: left;
        margin-right: 25px;
    }

    /* all element that have to float right */
    .floatright_el {
        float: right;
        margin-right: 125px;
    }

    /* centers the table in the text inside */
    table {
        margin: auto;
        text-align: center;
    }

	/* containers containing images centered */
    #centerimagecontainer {
        margin: auto;
        text-align: center;
    }

	/* for the references title */
    #revertti {
        font-weight: bold;
        text-align: center;
    }

    /* 3. FOOTER */

	/* background color, no overflow, and has certain font family */
    footer {
        background-color: turquoise;
        overflow: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

	/* style rules for the logos in #sharebuttons */
    footer #sharebuttons div {
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
    }

	/* sharebuttons container */
    #sharebuttons {
        float: left;
        display: inline;
        margin-left: 40px;
        margin-top: 15px;
    }

    /* img sprites before hover */
    .facebook {
        background: url('imgsprites_logos.png') no-repeat -98px -23px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 52px;
        transition: all 0.1s ease-in-out;
    }

    .instagram {
	    background: url('imgsprites_logos.png') no-repeat -168px -21px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 53px;
        transition: all 0.1s ease-in-out;
    }

    .twitter {
	    background: url('imgsprites_logos.png') no-repeat -238px -21px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 53px;
        transition: all 0.1s ease-in-out;
    }

    .reddit {
        background: url('imgsprites_logos.png') no-repeat -520px -21px;
	    background-size: 600px 300px;
	    width: 51px;
	    height: 52px;
        transition: all 0.1s ease-in-out;
    }

	/* img sprites during hover */
    .facebook:hover {
        background: url('imgsprites_logos.png') no-repeat -98px -84px;
	    background-size: 600px 300px;
	    width: 52px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .instagram:hover {
	    background: url('imgsprites_logos.png') no-repeat -168px -85px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .twitter:hover {
	    background: url('imgsprites_logos.png') no-repeat -237px -84px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 52px;
        transform: scale(1.5, 1.5);
    }

    .reddit:hover {
        background: url('imgsprites_logos.png') no-repeat -519px -84px;
	    background-size: 600px 300px;
	    width: 53px;
	    height: 53px;
        transform: scale(1.5, 1.5);
    }

    /* section containing contact info */
    #contactinfo {
        float: right;
        margin-right: 70px;
    }


